.login-form {
  border-radius: 10px;
  background-color: #2eb24d;
  padding: 7px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

.login-form > div > p > input {
  border-radius: 8px;
  padding: 5px 5px 5px 8px;
  font-size: 22px;
  width: 45%;
}

.login-form > div > p > button {
  border-radius: 14px;
  width: 40%;
  padding-top: 4px;
  padding-bottom: 4px;
}

.flash {
  color: #fa8400;
  font-weight: bold;
}

.tall {
  height: 16em;
}

body {
  background-color: #454545;
}
