.login-form {
  border-radius: 10px;
  border: 3px solid white;
  background-color: #4c4;
  padding: 7px;
  width: 32%;
  margin-left: auto;
  margin-right: auto;
}

.login-form > p > input {
  border-radius: 8px;
  padding: 5px 5px 5px 8px;
  font-size: 22px;
  width: 45%;
}

.login-form > p > button {
  border-radius: 14px;
  width: 40%;
  background-color: #333;
  color: #eee;
  font-size: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
}

body {
  background-color: #454545;
}

* {
  font-family: Impact, Charcoal, sans-serif;
}
