@(message: String)

@main("Downloads") {
  <script src="@routes.Assets.at("javascripts/downloads.js")" type="text/javascript"></script>
  <div class="ui-widget ui-widget-content ui-corner-all" style="padding: 40px 45px;">

      <table>
        <tr>
          <td style="width: 50%;">

            <div class="round-bordered" style="padding: 15px 15px 15px 50px; font-weight: bold;">
              From <input type="text" id="start-day" class="date-chooser date-input" /> to <input type="text" id="end-day" class="date-chooser date-input" />
            </div>

            <div id="radio-quantum" class="radio-set has-headroom">
              <input type="radio" id="radio-days"   name="quantum" class="quantum-button"                   /><label for="radio-days"   class="unselectable check-label" style="width: 33%;">By Day</label>
              <input type="radio" id="radio-months" name="quantum" class="quantum-button" checked="checked" /><label for="radio-months" class="unselectable check-label" style="width: 34%;">By Month</label>
              <input type="radio" id="radio-years"  name="quantum" class="quantum-button"                   /><label for="radio-years"  class="unselectable check-label" style="width: 33%;">By Year</label>
            </div>

            <div id="radio-graph-type" class="radio-set has-headroom">
              <input type="radio" id="radio-discrete"   name="graph-type" class="graph-type-button" checked="checked" /><label for="radio-discrete"   class="unselectable check-label" style="width: 50%;">Discrete Graph</label>
              <input type="radio" id="radio-cumulative" name="graph-type" class="graph-type-button"                   /><label for="radio-cumulative" class="unselectable check-label" style="width: 50%;">Cumulative Graph</label>
            </div>

            <div id="check-version" style="width: 100%; text-align: center; margin-top: 40px;">
              <div style="padding: 6px; display: inline-block; background-color: #288DB1; border-radius: 10px 10px 10px 10px;">
                <input type="checkbox" id="check-all" name="version" class="version-button" checked="checked" /><label for="check-all" id="check-all-label" class="unselectable" style="border: 3px solid black">All Versions</label>
              </div>
              <br>
            </div>

            <div id="check-os" class="check-set has-headroom">
              <input type="checkbox" id="check-windows" name="os" class="check-button os-button" /><label for="check-windows" class="unselectable check-label" style="width: 33%;">Windows</label>
              <input type="checkbox" id="check-mac"     name="os" class="check-button os-button" /><label for="check-mac"     class="unselectable check-label" style="width: 34%;">Mac OS</label>
              <input type="checkbox" id="check-linux"   name="os" class="check-button os-button" /><label for="check-linux"   class="unselectable check-label" style="width: 33%;">Linux</label>
            </div>

            <div class="has-headroom" style="padding: 8px; background-color: #33B546; border-radius: 10px 10px 10px 10px;">
              <button type="submit" id="queryBtn" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                      style="width: 100%; border: 3px solid black" role="button" aria-disabled="false" onclick="submitQuery('@routes.Application.requestData')">
                <span class="ui-button-text">Query</span>
              </button>
            </div>

          </td>
          <td style="width: 10%;"><div style="height: 550px; width: 50%; border-right: 3px solid #AFAFAF"></div></td>
          <td style="width: 40%;">
            <img id="query-graph" src='@routes.Assets.at("images/no-graph.png")' class="round-bordered" alt="Graph">
          </td>
        </tr>
      </table>

  </div>
}
